# Maven
**/target/
/.mvn/wrapper/

# IDE
/.idea/
*.iml

# Logs
*.log
**/logs/

# OS
*.DS_Store

# Project specific
/venv/
/.scannerwork/
/.semgrep/
/.claude/*
.env
trackings/

# Compiled class files
*.class
**/*.class
/claudedocs/

nul
null
