apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ai-reviewer

resources:
  - ../../base
  - ../../base/external-secrets
  - postgres/statefulset.yaml
  - vault/vault-token-secret.yaml

patches:
  - path: patches/replicas.yaml
  - path: patches/resource-limits.yaml
  - path: patches/image-pull-policy.yaml
  - path: patches/configmap-patch.yaml
  - path: patches/service-nodeport.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: api-gateway
    path: patches/api-gateway-env-patch.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: llm-worker
    path: patches/llm-worker-env-patch.yaml
  - path: vault/secret-store-patch.yaml
  - path: vault/refresh-interval-patch.yaml

images:
  - name: bgghiloufi/ai-code-reviewer-api-gateway
    newTag: "v1.0.0-mvp"
  - name: bgghiloufi/ai-code-reviewer-llm-worker
    newTag: "v1.0.0-mvp"
